
<!doctype html>
<html class="no-js" lang="">
{% load static %}
{% block page_content %}


<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>LeakScope by GainSec | Dashboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.transitions.css' %}">
    <!-- meanmenu CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/meanmenu/meanmenu.min.css' %}">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/animate.css' %}">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/scrollbar/jquery.mCustomScrollbar.min.css' %}">
    <!-- jvectormap CSS
		============================================ -->

    <link rel="stylesheet" href="{% static 'css/notika-custom-icon.css' %}">
    <!-- wave CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/wave/waves.min.css' %}">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- modernizr JS
		============================================ -->
    <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Start Header Top Area -->
    <div class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="logo-area">
                        <a href="{% url 'home' %}"><img src="{% static 'img/leakscope.png' %}" /></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
    <!-- End Header Top Area -->
    <!-- Mobile Menu start -->

    <!-- Mobile Menu end -->
    <!-- Main Menu area start-->
    <div class="main-menu-area mg-tb-40">
       <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                        <li class="active"><a href="{% url 'home' %}"><i class="notika-icon notika-house"></i> Home</a>
                        </li>
                        <li><a href="{% url 'keyword' %}"><i class="notika-icon notika-search"></i> Discover</a></li>
                        <li><a href="{% url 'database' %}"><i class="notika-icon notika-edit"></i> Database</a>
                        </li>
                        <li><a href="{% url 'custom_queries' %}"><i class="notika-icon notika-star"></i> Custom Query</a>
                        </li>
                        <li><a href="{% url 'preview_page' %}"><i class="notika-icon notika-down-arrow"></i> Preview</a>
                        </li>
                        <li><a href="{% url 'explore_page' %}"><i class="notika-icon notika-eye"></i> Explore</a>
                        </li>
                        <li><a href="{% url 'export_import' %}"><i class="notika-icon notika-support"></i> Export/Import</a>
                        </li>
                    </ul>
                    <div class="tab-content custom-menu-content">
                        <div id="Home" class="tab-pane in active notika-tab-menu-bg animated flipInX">

                        </div>
                        <div id="search" class="tab-pane notika-tab-menu-bg animated flipInX">
                            <ul class="notika-main-menu-dropdown">
                                <li><a href="{% url 'keyword' %}">Keyword</a>
                                </li>
                                <li><a href="{% url 'keyword' %}">Keyword</a>
                                </li>
                            </ul>
                        </div>




                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main Menu area End-->
    <!-- Start Status area -->
    
    <!-- Start Sale Statistic area-->
    <div class="sale-statistic-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8 col-sm-7 col-xs-12" style="width:100%">
                    <div class="sale-statistic-inner notika-shadow mg-tb-30" >
                        <div class="curved-inner-pro">
                            <div class="curved-ctn">
                                <h2>Statistics</h2>
                                <p>Number of retrieved databases</p>
                            </div>
                        </div>
                      <div class="bar-chart-wp">
                        <canvas height="100vh" width="180vw" id="barchart1"></canvas>
                    </div>
                    </div>
                </div>

                </div>
            </div>
        </div>
    <!-- End Sale Statistic area-->

    <!-- Start Status area (Shodan credits & total entries) -->
    <div class="notika-status-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                        <div class="website-traffic-ctn">
                            <h2><span class="counter">{{ credits }}</span></h2>
                            <p>Shodan query credits</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                        <div class="website-traffic-ctn">
                            <h2><span class="counter">{{ zoomeye_credits }}</span></h2>
                            <p>ZoomEye points</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="wb-traffic-inner notika-shadow sm-res-mg-t-30 tb-res-mg-t-30">
                        <div class="website-traffic-ctn">
                            <h2><span class="counter">{{ all_counter }}</span></h2>
                            <p>Total entries in DB</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Status area-->

    <!-- Notifications section removed -->
    <!-- Start Footer area-->
    <div class="footer-copyright-area">

    </div>
    <!-- End Footer area-->
    <!-- jquery
		============================================ -->
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- wow JS
		============================================ -->
    <script src="{% static 'js/wow.min.js' %}"></script>
    <!-- price-slider JS
		============================================ -->
    <script src="{% static 'js/jquery-price-slider.js' %}"></script>
    <!-- owl.carousel JS
		============================================ -->
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!-- scrollUp JS
		============================================ -->
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <!-- meanmenu JS
		============================================ -->
    <script src="{% static 'js/meanmenu/jquery.meanmenu.js' %}"></script>
    <!-- counterup JS
		============================================ -->

    <!-- mCustomScrollbar JS
		============================================ -->
    <script src="{% static 'js/scrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <!-- jvectormap JS
		============================================ -->

    <!-- sparkline JS
		============================================ -->
    <script src="{% static 'js/sparkline/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'js/sparkline/sparkline-active.js' %}"></script>
    <!-- sparkline JS
		============================================ -->

    <!-- knob JS
		============================================ -->
    <script src="{% static 'js/knob/jquery.knob.js' %}"></script>
    <script src="{% static 'js/knob/jquery.appear.js' %}"></script>
    <script src="{% static 'js/knob/knob-active.js' %}"></script>
    <!--  wave JS
		============================================ -->

    <!--  todo JS
		============================================ -->
    <!-- plugins JS
		============================================ -->
    <script src="{% static 'js/plugins.js' %}"></script>
	<!--  Chat JS
		============================================ -->

    <!-- main JS
		============================================ -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/charts/Chart.js' %}"></script>
    <script src="{% static 'js/charts/bar-chart.js' %}"></script>
    <script>
        (function(){
            try {
                const labels = JSON.parse('{{ labels|escapejs }}');
                const data = JSON.parse('{{ data|escapejs }}');
                const shodan = JSON.parse('{{ shodan_data|escapejs }}');
                const zoomeye = JSON.parse('{{ zoomeye_data|escapejs }}');
                console.log('Chart data', {labels, data, shodan, zoomeye});
                drawCharts(labels, data, shodan, zoomeye);
            } catch (e) {
                console.error('Failed to render chart', e);
            }
        })();
    </script>
	<!-- tawk chat JS
		============================================ -->

    <footer style="padding: 20px 0; text-align: center; color: #777; font-size: 14px;">
        By <a href="https://gainsec.com/" target="_blank" rel="noopener noreferrer">GainSec</a>
    </footer>

</body>

</html>
{% endblock %}
